<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.bullfin.multilanguagechat" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/chat_app_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.FriendListActivity"
            android:label="@string/title_activity_friend_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.MyChatsActivity"
            android:label="@string/title_activity_my_chats"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ChatDetailsActivity"
            android:label="@string/title_activity_my_chats"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activity.LangSettingsActivity"
            android:label="@string/title_activity_lang_settings"/>

    </application>

</manifest>
